@import "defaults";

$body-font-family: "Klarna Sans", sans-serif;
$header-font-family: "Klarna Sans", sans-serif;
$paragraph-font-family: "Klarna Sans", sans-serif;

$primary-color: #EB6F93;
$secondary-color: #104c4e;
$color3: #B3AD99;
$color4: #896D7B;

$code-color: #666;
