@import "settings/juxt";
@import "components/asciidoc";
@import "components/awesome-icons";

@font-face {
    font-family: 'RochesterYada';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/RochesterYada.woff2') format('woff2');
}

$yada-font-family: 'RochesterYada', sans-serif !default;

.yada {
    font-family: $yada-font-family;
    font-size: 1.40em;
    font-weight: normal;
    line-height: 70%;
}

h3 .yada {
    font-weight: normal !important;
}
